/* Website by Dustin Vance*/


* {
  font-size: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1507676385008-e7fb562d11f8?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: Navy;
  color: grey;
  font-family: 'Fredoka One', Arial Black, Arial;
  font-size: 20px;
}

.title {
    font-size: 48px;
    color: black
}

h1 {
    text-shadow: 1px 1px 0 black;
    text-align: left;
    font-size: 130px;
    color: #5876ff;
}

img{
  height: 300px;
}


header h1 {
    text-align: center;
    margin: 0 auto;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
header, section, footer {
  padding: 30px;
  margin: 30px;
  background-color: Darkgrey;
  border: 2px solid pink;
  text-align: left;
}

header p {
  color: Grey;
  font-size: 30px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 3em;
  margin-right: 5;
  column-count: 2;
}

h2 {
  font-size: 38px;
}

p {
  margin: 15px o;
}


h3 {
  color: Green;
  font-size: 20px;

}


h1, h2, h3 {
      font-weight: 700;
      font-style: italic;
}

a {
  color: Yellow;
  text decoration: none;
  text weight: bold;
}

a:hover {
  text decoration: bold;
}
